
@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td> 1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td> 1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td> 1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td> 1</td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>

<input type="text" name="name" value="yogesh" />

<input type="radio" name="name" value="sfas" />

<select>
    <option value="value">text</option>
    <option value="value">text</option>
    <option value="value">text</option>
</select>

<input type="file" name="name" value="" />

